<div class="mx-auto mt-12 max-w-sm">
  <h2 class="text-center mb-4 text-red-light">Opret bruger</h2>
  <%= devise_error_messages! %>
  <div class="bg-white shadow px-4 py-6 rounded mb-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do | f | %>
      <div class="mb-4">
        <%= f.label :first_name, class: 'block text-red-darkest text-sm font-bold mb-1' %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: 'Fornavn', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :last_name, class: 'block text-red-darkest text-sm font-bold mb-1' %>
        <%= f.text_field :last_name, autocomplete: "last_name", placeholder: 'Efternavn', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :email, class: 'block text-red-darkest text-sm font-bold mb-1' %>
        <%= f.email_field :email, autocomplete: "email", placeholder: 'E-mail', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :password, class: 'block text-red-darkest text-sm font-bold mb-1' %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: '****************', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :password_confirmation, class: 'block text-red-darkest text-sm font-bold mb-1' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '****************', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <%= f.submit "Sign up", class: 'px-6 h-10 w-full rounded shadow tracking-wide bg-red-light text-white border border-red-light hover:bg-red-dark hover:border-red-dark' %>
    <% end %>
  </div>
  <span class="block text-center text-grey-darker text-sm">Har du allerede en bruger? <%= link_to 'Log ind', new_session_path(resource_name), class: 'text-grey-darker' %></span>
</div>
