<% if current_page?(link) %>
  <%= link_to link, class: 'block py-1 md:py-3 pl-1 align-middle text-red-light no-underline hover:text-red border-b-2 border-red-lighter hover:border-red' do %>
    <i class="fas <%= icon %> fa-fw mr-3 text-red-lighter"></i><span class="pb-1 md:pb-0 text-sm"><%= name %></span>
  <% end %>
<% else %>
  <%= link_to link, class: 'block py-1 md:py-3 pl-1 align-middle text-grey no-underline hover:text-black border-b-2 border-white hover:border-red' do %>
    <i class="fas <%= icon %> fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm"><%= name %></span>
  <% end %>
<% end %>
