<div class="mx-auto mt-12 max-w-sm">
  <h2 class="text-center mb-4 text-red-light">Ændre din adgangskode</h2>
  <div class="bg-white shadow px-4 py-6 rounded mb-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="mb-4">
          <%= f.label :password, class: 'block text-red-darkest text-sm font-bold mb-1' %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: '****************', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>
        <div class="mb-4">
          <%= f.label :password_confirmation, class: 'block text-red-darkest text-sm font-bold mb-1' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '****************', class: 'border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>
        <%= f.submit "Ændre min adgangskode", class: 'px-6 h-10 w-full rounded shadow tracking-wide bg-red-light text-white border border-red-light hover:bg-red-dark hover:border-red-dark' %>
      <% end %>
  </div>
</div>
