<!DOCTYPE html>
<html lang="da">
  <head>
    <title>GoTaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= render 'shared/google_analytics' %>

    <%= stylesheet_pack_tag 'styles' %>
  </head>

  <body class="bg-grey-lighter font-sans font-antialised">
    <%= yield %>
  </body>
</html>
