<div class="flex flex-wrap">
  <%= render 'analytics_card', text: t('.total_page_views'), number: total_page_views, icon: 'fa-wallet', color: 'green-dark'%>
  <%= render 'analytics_card', text: t('.total_visitors'), number: total_page_visitors, icon: 'fa-users', color: 'red-dark'%>
  <%= render 'analytics_card', text: t('.total_clicks'), number: total_page_clicks, icon: 'fa-hand-pointer', color: 'yellow-dark'%>
  <%= render 'analytics_card', text: t('.total_business_page_views'), number: total_business_page_views, icon: 'fa-store-alt', color: 'blue-dark'%>
  <%= render 'analytics_card', text: t('.total_event_page_views'), number: total_event_page_views, icon: 'fa-calendar-minus', color: 'blue-dark'%>
</div>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'hello_react' %>
<% end %>